<%= render "shared/nav", user: @user %>

<div class="shopping-list">
  <h1>Shopping List</h1>

  <div class="amount">
    <p>Amount of food to buy: <%= total_food_items %></p>
    <p>Total value of food needed: <%= number_to_currency(total_price) %></p>
  </div>

  <table class="recipe-table">
    <thead class="">
      <tr class="">
        <th class="">Food</th>
        <th class="">Quantity</th>
        <th class="">Value</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "shopping-list/list",
      collection: @foods_to_buy,
      as: :food_to_buy %>
    </tbody>
  </table>
</div>
