<div>
  <tr>
    <th><%= food.name %></th>
    <td><%= food.measurement_unit %></td>
      <td><%= number_to_currency(food.price) %></td>
    <td>
      <%= button_to "Delete", food_path(food), class: "border border-light rounded-pill", method: :delete, data: { confirm: "Are you sure about delete #{food.name}?" } %>
    </td>
  </tr>
</div>
