<%= stylesheet_link_tag "foods" %>
<%= render "shared/nav", user: @user %>

<h1 class="recipes_header">Foods</h1>

<div id="foods">
  <button class="foods-add-button"><%= link_to "Add food", new_food_path %>
  </button>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement</th>
        <th>Unit Price</th>
        <%# <th>Quantity</th> %>
        <th>Action</th>
      </tr>
    </thead>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </table>
</div>

