body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: left;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}

form:not(.edit_recipe) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
