body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: left;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.foods-delete-button {
  height: 38px;
  border: none;
}

.foods-delete-button:hover {
  text-decoration: underline;
  background-color: #ff1001;
  color: white;
}

.foods-delete-button-td {
  padding: 0;
}

form:not(.edit_recipe) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.foods-add-button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.foods-add-button a {
  text-decoration: none;
  color: white;
}

.foods-add-button:hover {
  text-decoration: underline;
}

.cancel-link {
  text-align: center;
}

.recipe-input {
  width: -webkit-fill-available; /* stylelint-disable-line */
  margin-bottom: 10px;
}

.recipe-delete-button {
  background-color: #ff1001;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.each-recipe {
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.recipe-name-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-buttons {
  display: flex;
  justify-content: space-between;
}

.recipe-prep-time {
  margin: 0;
}

.recipe-info-and-check {
  display: flex;
  justify-content: space-between;
}

.display-recipe {
  width: 35%;
}

.recipe-table {
  width: 100%;
}

.label-public {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.public-checkbox {
  display: none;
}

.recipe-label-text {
  position: absolute;
  left: -50px;
  top: -7px;
}

.recipe-title-delete {
  font-size: 30px;
}

.md-rem {
  display: flex;
  align-items: center;
}

.md-rem a,
.md-rem button {
  margin-right: 10px;
}

.md-rem button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.md-rem a {
  color: #007bff;
  text-decoration: none;
}

.public {
  width: 60%;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-item {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodownercombo {
  flex: 1;
}

.na-link {
  font-size: 34px;
}

.na-link:hover {
  text-decoration: underline; /* Add underline on hover (optional) */
}

.us-names {
  font-weight: bold;
  font-size: 25px;
}

.recipe-cost-no {
  text-align: right;
  font-size: 25px;
  margin-top: 35px;
}

.amount {
  display: flex;
  gap: 35px;
  font-weight: bold;
}

.mb-32 {
  display: flex;
  gap: 10px;
}
